# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
env/
.env/

# Database files
*.sqlite3
db.sqlite3

# Media files
media/

# Static files (if collected into a separate directory)
static_root/ # or whatever you name your STATIC_ROOT directory

# Log files
*.log

# IDE and OS specific files
.idea/ # PyCharm
.vscode/ # VS Code
.DS_Store # macOS
Thumbs.db # Windows

# Environment variables
.env
.flaskenv

# Django specific
*.pot # Django translation files
local_settings.py # If you have a separate file for local settings and sensitive data